<template name="login">
	<div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                    	<div class="form-top">
                			<h3>Breeze in!</h3>
                    		<p>Enter your username and password to log on</p>
                        </div>
                        <div class="form-bottom">
		                    <form role="form" class="login-form" id="login-form">
		                    	<div class="form-group">
		                    		<label class="sr-only" for="form-email">Email</label>
		                        	<input type="text" name="form-email" placeholder="Email" class="form-email form-control" id="login-email">
		                        </div>
		                        <div class="form-group">
		                        	<label class="sr-only" for="form-password">Password</label>
		                        	<input type="password" name="form-password" placeholder="Password" class="form-password form-control" id="login-password">
		                        </div>
		                        <button type="submit" class="btn" id="form-submit">Let me in!</button>
		                    </form>
	                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 social-login">
                        <h3>or login with:</h3>
                        <div class="social-login-buttons">
                            <a class="btn btn-link-1 btn-link-1-linkedin" href="#">
                                <i class="fa fa-linkedin"></i> Linkedin
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>