<template name="signup">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 form-box">
            	<div class="form-top">
        			<h3>Join the fun!</h3>
            		<p>Register with our website to do many more</p>
                </div>
                <div class="form-bottom">
                    <form role="form" action="" method="post" class="signup-email">
                    	<div class="form-group">
                    		<label class="sr-only" for="signup-email">Email</label>
                        	<input type="text" name="form-username" placeholder="Email" class="form-username form-control" id="signup-email">
                        </div>
                        <div class="form-group">
                        	<label class="sr-only" for="signup-password">Password</label>
                        	<input type="password" name="signup-password" placeholder="Password" class="form-password form-control" id="signup-password">
                        </div>
                        <button type="submit" class="btn">Let the party begin!</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 social-login">
            	<h3>or login with:</h3>
            	<div class="social-login-buttons">
                	<a class="btn btn-link-1 btn-link-1-linkedin login-linkedin" href>
                		<i class="fa fa-linkedin"></i> Linkedin
                	</a>
            	</div>
            </div>
        </div>
    </div>
</template>